<!DOCTYPE html>
<html lang="en">

<head>
  <title>Half Moon Designs</title> 
  <meta charset="UTF-8">
  <meta name="description" content="Half Moon Designs"/>
  <meta name="keywords" content="outdoor, gear, camping, hiking"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
  <link href="/stylesheets/style.css" rel="stylesheet"/>

  <link href="/images/halfmoon_icon.png" rel="shortcut icon" type="image/gif">
  
</head>

<body class="">
  <header>
    
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white py-0 border-bottom border-dark">
      <a class="navbar-brand" href="/home"><img src="/images/hm_logo_crp.jpg" alt="Half Moon Logo" class="brand-logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item font-italic font-weight-bold px-2" id="home-link">
            <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item font-italic font-weight-bold px-2" id="gear-link">
            <a class="nav-link" href="/products">Gear<span class="sr-only">(current)</span></a>
          </li>


        </ul>
        <div class="form-inline my-2 my-lg-0 mx-lg-5">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="product-search">
      <button class="btn btn-outline-dark my-2 my-sm-0 mr-sm-2 no-border" type="submit" id="product-search-btn"><span class="search"><i class="fa fa-search"></i></span></button>
    </div>
    <button class="btn btn-outline-dark my-2 my-sm-0 mx-lg-2 no-border" onclick="window.location.href = '/account';"><span class="user"><i class="fa fa-user"></i></span></button>
    <button class="btn btn-outline-dark my-2 my-sm-0 mx-lg-2 no-border" onclick="window.location.href = '/cart';"><span class="user"><i class="fa fa-shopping-cart"></i></span></button>

      </div>
    </nav>
  </header>
  <main>