<%- include ('partials/header') %>

<div class="container-sm pt-4">
	<div class="message">
  		<p>Your account has been created! Please <a href="/account">log in.</a></p>
		</div>
</div>

<%- include ('partials/footer') %>
<%- include ('partials/endtags') %>