<%- include ('partials/header') %>

    <div class="fullscreen-img"></div>

<%- include ('partials/footer') %>
<script>
	$('#home-link').addClass('active');
</script>
<%- include ('partials/endtags') %>