  <%- include ('partials/header') %>

    <div class="container-sm pt-4">
    	<div class="message">
      		<p><%= message%></p>
  		</div>
    </div>

  <%- include ('partials/footer') %>
  <%- include ('partials/endtags') %>